.display-details {
    height: 20%;
    background-color: #F5F5F5;
    text-align: center;
}
.speed-table {
    width: 100%;
    height: 80%;
    text-align: center;
}
.direction-tag {
    background-color: #42A5F5;
}
.kmph-30-tag {
    background-color: #90CAF9;
}
.kmph-60-tag {
    background-color: #64B5F6;
}
.get-location-tag {
    background-color: #BBDEFB;
}