<div class="container">
    <h3>Recipe fetcher</h3> 
    <h4>API used : <a href="http://www.recipepuppy.com/about/api/" target="_blank"> Recipe Puppy</a></h4>
    <p class="text-info">Enter the ingredients you have and the dish you would like to prepare, along with the number of recipes you want to see. We will provide as many recipes as possible. <strong>All the fields are mandatory</strong></p>
    <div id="row">
        <div class="col bg-info">
        <form action="/" method="POST">
            <div class="form-group">
                <label for="ingredients">Ingredients that you would like to use</label>
                <input type="text" class="form-control" name="ingredients" placeholder="Comma seperated values. Ex : Onion, Potato, Tomato" size="100" autocomplete="false" required>
            </div>
            <div class="form-group">
                <label for="ingredients">Recipe for</label>
                <input type="text" class="form-control" name="mealName" placeholder="What would you like to prepare today?" size="100" autocomplete="false" required>
            </div>
            <div class="form-group">
                <label for="ingredients">Number of recipes</label>
                <input type="text" class="form-control" name="numberOfRecipes" placeholder="Max number of recipes" size="100" autocomplete="false" pattern="[1-9][0-9]*" title="Number greater than 0" required>
            </div>
            <input type="submit" class="btn btn-primary" value="Fetch recipes">
        </form>
    </div>
</div>