doctype html
html
head
    include HTMLheader.html
body
    include InputForm.html
    - var LengthOfJSON = Object.keys(JSONData).length
    if LengthOfJSON == 0        
        h1.display-4 Oops! Sorry. We couldn't find any recipes to prepare #{ FormValues['mealName']} using #{ FormValues['ingredients']}
    else if FormValues['numberOfRecipes'] <= LengthOfJSON
        h1.display-4 Displaying #{ FormValues['numberOfRecipes']} recipes to prepare #{ FormValues['mealName']} using #{ FormValues['ingredients']}
        br
        table.table
            thead
                tr
                    th Sl no
                    th Recipe Name
                    th Ingredients required
                    th Link

            - for (count = 0; count < parseInt(FormValues['numberOfRecipes']); count++) {
                tr
                    td= count + 1 
                    td= JSONData[count]['title']
                    td= JSONData[count]['ingredients']
                    td
                        a(href="#{  JSONData[count]['href'] }", target="_blank")= JSONData[count]['href']
            - } 
    else
        h1.display-4 We could fetch only #{ LengthOfJSON } recipes to prepare #{ FormValues['mealName']} using #{ FormValues['ingredients']}
        br
        table.table
            thead
                tr
                    th Sl no
                    th Recipe Name
                    th Ingredients required
                    th Link

            - for (count = 0; count < JSONData.length; count++) {
                tr
                    td= count + 1 
                    td= JSONData[count]['title']
                    td= JSONData[count]['ingredients']
                    td
                        a(href="#{  JSONData[count]['href'] }", target="_blank")= JSONData[count]['href']
            - }